# Capstone Project 1 - Calculating Potential Customer Yield with Rule-Based Classification

***Author: Eda AYDIN***

In [1]:
import pandas as pd

### Task 1: Answer the Following Questions
Question 1: Read the persona.csv file and show the general information about the dataset.

In [2]:
df = pd.read_csv("persona.csv")
df.head()

   PRICE   SOURCE   SEX COUNTRY  AGE
0     39  android  male     bra   17
1     39  android  male     bra   17
2     49  android  male     bra   17
3     29  android  male     tur   17
4     49  android  male     tur   17

Question 2: How many unique SOURCE are there? What are their frequencies?

In [3]:
df["SOURCE"].value_counts()

android    2974
ios        2026
Name: SOURCE, dtype: int64

Question 3: How many unique PRICEs are there?

In [4]:
df["PRICE"].nunique()

6

Question 4: How many sales were made from which PRICE?

In [5]:
df.groupby("PRICE").PRICE.count()

PRICE
9      200
19     992
29    1305
39    1260
49    1031
59     212
Name: PRICE, dtype: int64

Question 5: How many sales were made from which country?

In [6]:
df.groupby("COUNTRY").PRICE.count()

COUNTRY
bra    1496
can     230
deu     455
fra     303
tur     451
usa    2065
Name: PRICE, dtype: int64

Question 6: How much was earned in total from sales by country?

In [7]:
df.groupby("COUNTRY").PRICE.sum()

COUNTRY
bra    51354
can     7730
deu    15485
fra    10177
tur    15689
usa    70225
Name: PRICE, dtype: int64

Question 7: What are the sales numbers by SOURCE types?

In [8]:
df.groupby("SOURCE").PRICE.count()

SOURCE
android    2974
ios        2026
Name: PRICE, dtype: int64

Question 8: What are the PRICE averages by country?

In [9]:
df.groupby("COUNTRY").PRICE.mean()

COUNTRY
bra    34.327540
can    33.608696
deu    34.032967
fra    33.587459
tur    34.787140
usa    34.007264
Name: PRICE, dtype: float64

Question 9: What are the PRICE averages according to SOURCEs?

In [10]:
df.groupby("SOURCE").PRICE.mean()

SOURCE
android    34.174849
ios        34.069102
Name: PRICE, dtype: float64

Question 10: What are the PRICE averages in the COUNTRY-SOURCE breakdown?

In [11]:
df.groupby(["COUNTRY", "SOURCE"]).PRICE.mean()

COUNTRY  SOURCE
bra      android    34.387029
         ios        34.222222
can      android    33.330709
         ios        33.951456
deu      android    33.869888
         ios        34.268817
fra      android    34.312500
         ios        32.776224
tur      android    36.229437
         ios        33.272727
usa      android    33.760357
         ios        34.371703
Name: PRICE, dtype: float64

### Task 2: What are the average earnings in the breakdown of COUNTRY, SOURCE, SEX, AGE?

In [12]:
df.groupby(["COUNTRY", "SOURCE", "SEX", "AGE"]).agg({"PRICE": "mean"})

                                PRICE
COUNTRY SOURCE  SEX    AGE
bra     android female 15   38.714286
                       16   35.944444
                       17   35.666667
                       18   32.255814
                       19   35.206897
...                               ...
usa     ios     male   42   30.250000
                       50   39.000000
                       53   34.000000
                       55   29.000000
                       59   46.500000

[348 rows x 1 columns]

### Task 3: Sort the output according to PRICE.

In [13]:
agg_df = df.groupby(["COUNTRY", "SOURCE", "SEX", "AGE"]).agg({"PRICE": "mean"}).sort_values("PRICE", ascending=False)

In [14]:
agg_df

                            PRICE
COUNTRY SOURCE  SEX    AGE
bra     android male   46    59.0
usa     android male   36    59.0
fra     android female 24    59.0
usa     ios     male   32    54.0
deu     android female 36    49.0
...                           ...
usa     ios     female 38    19.0
                       30    19.0
can     android female 27    19.0
fra     android male   18    19.0
deu     android male   26     9.0

[348 rows x 1 columns]

### Task 4: Task 4: All variables except PRICE in the output of the third question are index names. Convert these names to variable names.

In [15]:
agg_df = agg_df.reset_index()

In [16]:
agg_df

    COUNTRY   SOURCE     SEX  AGE  PRICE
0       bra  android    male   46   59.0
1       usa  android    male   36   59.0
2       fra  android  female   24   59.0
3       usa      ios    male   32   54.0
4       deu  android  female   36   49.0
..      ...      ...     ...  ...    ...
343     usa      ios  female   38   19.0
344     usa      ios  female   30   19.0
345     can  android  female   27   19.0
346     fra  android    male   18   19.0
347     deu  android    male   26    9.0

[348 rows x 5 columns]

### Task 5: Convert age variable to categorical variable and add it to agg_df.

In [17]:
agg_df["AGE_CAT"] = pd.cut(x=agg_df.AGE,
                           bins=[0, 18, 23, 30, 40, 70],
                           labels=["0_18", "19_23", "24_30", "31_40", "41_" +
                                   str(agg_df["AGE"].max())])

In [18]:
agg_df.head()

  COUNTRY   SOURCE     SEX  AGE  PRICE AGE_CAT
0     bra  android    male   46   59.0   41_66
1     usa  android    male   36   59.0   31_40
2     fra  android  female   24   59.0   24_30
3     usa      ios    male   32   54.0   31_40
4     deu  android  female   36   49.0   31_40

### Task 6: Identify new level-based customers (personas).

• Define new level-based customers (personas) and add them as variables to the dataset.
• Name of the new variable to be added: customers_level_based
• You need to create the customers_level_based variable by combining the observations from the output from the previous question.

In [19]:
agg_df["customers_level_based"] = agg_df[["COUNTRY", "SOURCE", "SEX", "AGE_CAT"]].apply("_".join, axis=1)

In [20]:
new_persona = agg_df.groupby("customers_level_based").agg({"PRICE": "mean"})

In [21]:
new_persona.reset_index(inplace=True)

In [22]:
new_persona["customers_level_based"] = new_persona.customers_level_based.apply(lambda x: x.upper())

In [23]:
new_persona.head()

      customers_level_based      PRICE
0   BRA_ANDROID_FEMALE_0_18  35.645303
1  BRA_ANDROID_FEMALE_19_23  34.077340
2  BRA_ANDROID_FEMALE_24_30  33.863946
3  BRA_ANDROID_FEMALE_31_40  34.898326
4  BRA_ANDROID_FEMALE_41_66  36.737179

### Task 7: Segment new customers (personas).
• Divide new customers (Example: USA_ANDROID_MALE_0_18) into 4 segments according to PRICE.
• Add the segments to agg_df as a variable with the SEGMENT naming.
• Describe segments (group by segments and get price mean, max, sum).

In [24]:
new_persona["SEGMENT"] = pd.qcut(x=new_persona["PRICE"],
                                 q=4,
                                 labels=["D", "C", "B", "A"])

In [25]:
new_persona.groupby("SEGMENT").agg({"PRICE": ["mean", "max", "min"]})

             PRICE
              mean        max        min
SEGMENT
D        29.206780  32.333333  19.000000
C        33.509674  34.077340  32.500000
B        34.999645  36.000000  34.103727
A        38.691234  45.428571  36.060606

### Task 8: Classify new customers and estimate how much revenue they can generate.
• What segment does a 33-year-old Turkish woman using ANDROID belong to and how much income is expected on average?
• What segment does a 35-year-old French woman using IOS belong to and how much income is expected to earn on average?

In [26]:
new_persona.loc[new_persona["customers_level_based"] == "TUR_ANDROID_FEMALE_31_40"]["PRICE"]

72    41.833333
Name: PRICE, dtype: float64

In [27]:
new_persona.loc[new_persona["customers_level_based"] == "FRA_IOS_FEMALE_31_40"]["PRICE"]

63    32.818182
Name: PRICE, dtype: float64